.env
/resources/data/
/resources/model/*
/coverage.xml

/venv/
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/src/code_to_image/config.json
src/text_to_code/__pycache__/utils.cpython-38.pyc
src/text_to_code/__pycache__/*
**/__pycache__/*
**.bin
